.slarge-percent-height-100 {
  height: @ml 100%;
}

.slarge-percent-height-90 {
  height: @ml 90%;
}

.slarge-percent-height-80 {
  height: @ml 80%;
}

.slarge-percent-height-70 {
  height: @ml 70%;
}

.slarge-percent-height-60 {
  height: @ml 60%;
}

.slarge-percent-height-50 {
  height: @ml 50%;
}

.slarge-percent-height-40 {
  height: @ml 40%;
}

.slarge-percent-height-30 {
  height: @ml 30%;
}

.slarge-percent-height-20 {
  height: @ml 20%;
}

.slarge-percent-height-10 {
  height: @ml 10%;
}

.slarge-viewport-height-100 {
  height: @ml 100vh;
}

.slarge-viewport-height-90 {
  height: @ml 90vh;
}

.slarge-viewport-height-80 {
  height: @ml 80vh;
}

.slarge-viewport-height-70 {
  height: @ml 70vh;
}

.slarge-viewport-height-60 {
  height: @ml 60vh;
}

.slarge-viewport-height-50 {
  height: @ml 50vh;
}

.slarge-viewport-height-40 {
  height: @ml 40vh;
}

.slarge-viewport-height-30 {
  height: @ml 30vh;
}

.slarge-viewport-height-20 {
  height: @ml 20vh;
}

.slarge-viewport-height-10 {
  height: @ml 10vh;
}
