{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "retainLines": true
}
